@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.ContentContainer__wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ContentContainer__container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .ContentContainer__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ImageText {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

/* isLeft prop is true */
.ImageText.left .ImageText__img {
  order: 1;
}
.ImageText.left .ImageText__content {
  order: 2;
}

/* isLeft prop is false */
.ImageText.right .ImageText__img {
  order: 2;
}
.ImageText.right .ImageText__content {
  order: 1;
}
.ImageText + hr {
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid #d0d0d0;
}

.ImageText__img {
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.ImageText__content {
  padding: 5px 0;
}

.ImageText__content h3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .ImageText {
    grid-template-columns: 1fr;
  }
  .ImageText.left .ImageText__img,
  .ImageText.right .ImageText__img {
    order: 2;
  }
  .ImageText.left .ImageText__content,
  .ImageText.right .ImageText__content {
    order: 1;
  }
}

.industry-card-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

/* 
Breakpoint 	          Class infix 	Dimensions
X-Small    	          None         	<576px
Small 	              sm           	≥576px
Medium 	              md           	≥768px
Large 	              lg           	≥992px
Extra large           xl 	          ≥1200px
Extra extra large 	  xxl 	        ≥1400px 
*/
